# Override file for local development
# This file will override the main docker-compose.yml
version: '3.8'

services:
  app:
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_SUPABASE_URL=${NEXT_PUBLIC_SUPABASE_URL}
      - NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY}
      - SUPABASE_SERVICE_ROLE=${SUPABASE_SERVICE_ROLE}
      - CACHE_PROVIDER=${CACHE_PROVIDER:-redis}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USERNAME=${REDIS_USERNAME:-default}
      - CACHE_NAMESPACE=${CACHE_NAMESPACE:-wg}
      - CACHE_GUESTS_TTL_SECONDS=${CACHE_GUESTS_TTL_SECONDS:-120}
      - CACHE_JITTER_SECONDS=${CACHE_JITTER_SECONDS:-20}
      - DEPLOYMENT_MODE=${DEPLOYMENT_MODE:-saas}
      - NEXT_PUBLIC_APP_URL=${NEXT_PUBLIC_APP_URL:-https://luwani.com}
      - RATE_LIMIT_BASIC=${RATE_LIMIT_BASIC:-50}
      - RATE_LIMIT_PREMIUM=${RATE_LIMIT_PREMIUM:-200}
      - RATE_LIMIT_ENTERPRISE=${RATE_LIMIT_ENTERPRISE:-1000}